backend_img                 = "dspace/dspace:dspace-7_x"
cluster_name                = "dspace-cluster"
efs_name                    = "dspace-efs"
domain                      = "dspace.org"
frontend_img                = "dspace/dspace-angular:dspace-7_x-dist"
lb_name                     = "dspace-lb"
profile                     = "default"
profile_for_dns             = "default"
security_group_name         = "dspace-private-app"
service_discovery_namespace = "dspace.solr"
solr_img                    = "dspace/dspace-solr:dspace-7_x"
subnet_type                 = "Private"
vpc_name                    = "dspace-vpc"
